.doctor {
  background-color: #ff495c;
}
.patient {
  background-color: #8b9eb7;
}
.logo {
  width: 68px;
}

.change {
  width: 66px;
  padding-top: 10px;
  cursor: pointer;
}

.title {
  width: 50%;
}

.swap {
  width: 50%;
}
