<div *ngIf="doctor; else elseBlock">
    <mat-toolbar class="doctor" color="primary">
         
        <span class="title">Hospital - Doctor</span>
       

       Switch to Patient
        <a class="swap" (click)="goTo()"> 
            <img class="change" src="../assets/changeDisplay.png" alt="" srcset="">
        </a>

        <img class="logo" src="../assets/doctor.png" alt="" srcset="">
        


    </mat-toolbar>

    <button mat-raised-button  color="primary" id="backButton" (click)="goBack()"><mat-icon>arrow_back</mat-icon>
        Back</button>  
    <button mat-raised-button (click)="goToDoctors()" disabled>Doctors</button>
    <button mat-raised-button  color="primary" id="backButton" (click)="goToPatients()">Patients
    </button>  
    
</div>

<ng-template #elseBlock>
    <mat-toolbar class="patient" color="primary">
        
        <span class="title">Hospital - Patient</span>
        
        
        Switch to Doctor
        <a class="swap" (click)="goTo()"> 
            <img class="change" src="../assets/changeDisplay.png" alt="" srcset="">
        </a>

        <img class="logo" src="../assets/doctor.png" alt="" srcset="">

    </mat-toolbar>
    <button mat-raised-button  color="primary" id="backButton" (click)="goBack()"><mat-icon>arrow_back</mat-icon>
        Back</button>   
     
        <button mat-raised-button  color="primary" id="backButton" (click)="goToDoctors()">Doctors</button>
            <button mat-raised-button (click)="goToPatients()" disabled>Patients</button>
</ng-template>