<main>
  <h2>
    Welcolme to the hospital application, it helps you manage doctors and
    patients easily
  </h2>

  <h3>For doctors</h3>

  <p class="left">
    You can add, update or delete doctors in the doctors section
  </p>
  <p class="right">
    You can display details about a doctor and display his patients in the
    details section
  </p>

  <h3>For patients</h3>

  <p class="left">
    You can add, update or delete patients in the patients section
  </p>
  <p class="right">
    You can display details about a patient and display his doctor in the
    details section
  </p>
</main>
